@import "logon.css";
@import "newIncident.css";
@import "profile.css";
@import "register.css";

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background-color: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

inputs,
button,
textarea {
    font: 400 18px Roboto, sans-serif;
}

button {
    cursor: pointer;
}

form input {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}

form textarea {
    width: 100%;
    min-height: 140px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
    resize: vertical;
}

.button {
    width: 100%;
    height: 60px;
    background-color: #e02041;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

.button:hover {
    filter: brightness(90%);
}


/* Error */

.content {
    position: relative;
}


.error_msg {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    margin-top: 25px;
}

.error_content {
    display: inline-block;
    padding: 10px 15px;
    background-color: rgba(224, 32, 65, 0.76);
    border-radius: 6px;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    animation:error_animation 0.5s 1;
    -webkit-animation:error_animation 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:2s;
    -webkit-animation-delay:1s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
}


@keyframes error_animation{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes error_animation{
    from {opacity :1;}
    to {opacity :0;}
}
